/* header */
.header {
    font-weight: 100;
    padding: 20px 0 10px;
    text-align: center;
}
.header-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.header-btn p,
.header-btn a {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    padding: 4px 16px;
    text-decoration: none;
    transition: .1s;
    user-select: none;
}
.header-btn a {
    border-color: #949494;
}

.header-btn a:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #222;
}
/* end::header */
